﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div style="text-align:left;">
        <img src="~/Content/yiaco-logo_2x.png" />
    </div>
    <div style="text-align: center; color: #005596; font-size: xx-large;">
        Human Resources Department
    </div>
    <div style="text-align: center; color: #005596; font-size: x-large;">
        Annual Performance Appraisal @DateTime.Now.Year
    </div>
    <div>
        <p style="text-align: justify; font-size: small; font-weight: bold;">
            Dear All,<br/><br />

            Welcome to YIACO Medical Company.<br/><br />
            
            Performance Appraisal of every employee is carried out periodically as per the company policy, to ascertain performance levels and to take appropriate corrective action, which will enable the achievement of the aims and goals of YIACO Medical Co.<br /><br />
            
            It provides each employee with a fair and critical evaluation to identify gray areas and training needs and mapping out the development plan. Moreover, the  Annual Performance Appraisal is the platform on which increments and salary upgrades will be decided.

            In this regard, we request you to consider this process on ideal way, making sure that each employee has been given a fair assessment.<br /><br />

            For further assistance and clarifications, you may need to contact the Training & Development Unit on <a href="w.adl@yiaco.com">w.adl@yiaco.com</a> ext.1461 or IT Depart. <a href="Helpdesk@yiaco.com">Helpdesk@yiaco.com</a>  ext. 1310<br /><br />

            You can find the appraisal guide at this link:<br /><br /><a href="https://yiacokuwait.sharepoint.com/sites/HR/TD/_layouts/15/guestaccess.aspx?guestaccesstoken=J5k0k8BgeS7Lg3IuTyfKBvhOY5xSQYbIYp%2foKyx3qwI%3d&docid=1605928b64dff4356a814a0d72c402693&rev=1" class="btn btn-primary btn-lg">Appraisal Manual</a>

        </p>
        <p style="font-size: small; color: red;">It is recomanded to use internet explorer (NOT Microsoft Edge)</p>
    </div>
</div>