﻿@{
    ViewBag.Title = "EmplAppRpt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Appraisal Report</h2>

@Html.ActionLink("Back To List", "Index", new { login = User.Identity.Name.Substring(6, (User.Identity.Name.Length - 6)) })

<br /><br />

<table class="table">
    <tr>
        <th width="150">
            Employee ID:
        </th>
        <td>
            <input type="text" name="EMPLID" id="EMPLID" />
        </td>
        <th width="10">
            Year
        </th>
        <td>
            @Html.DropDownList("YEAR", ViewBag.YEAR as SelectList)
        </td>
        <td>
            <input id="SubmitName" type="submit" value="Show" />
            <script type="text/javascript">
                $('#SubmitName').click(function () {
                    var EMPID = $('#EMPLID').val();
                    var YR = $('#YEAR').val();
                    var path = '@Url.Content("~/AppraisalReports/EmplAppRpt")' + "?emplId=" + EMPID + "&YR=" + YR
                    window.open(path, '_self');
                });
            </script>
        </td>
    </tr>
</table>
<table class="table">
    <tr>
        <th>

        </th>
        <th>
            EMPLOYEE ID
        </th>
        <th>
            Name
        </th>
        <th>
            ORGANIZATION
        </th>
        <th>
            POSITION
        </th>
    </tr>

    @if (ViewData["EmplAppRpt"] != null)
    {
        foreach (var item in (dynamic)(ViewData["EmplAppRpt"]))
        {
            <tr>
                <td>
                    @Html.ActionLink("View Report", "Details", "Appraisals", new { id = item.AppraisalId, Delts = "YES" }, new { target = "blank" })
                </td>
                <td>
                    @item.EmplId
                </td>
                <td>
                    @item.EmplName
                </td>
                <td>
                    @item.EmplOrganization
                </td>
                <td>
                    @item.EmplPosition
                </td>
            </tr>
        }
    }


</table>
