﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reports</h2>

@if (Model != null)
{
    if (Model.Admin != 0)
    {
        <table class="table">
            <tr>
                <th>
                    @*<a href="http://www.yahoo.com" target="_blank"><span>Employees List</span></a>*@
                    @Html.ActionLink("Employees List", "EmployeeList")
                </th>
            </tr>
            <tr>
                <th>
                    @Html.ActionLink("Employees Appraisals List", "EmplAppRpt")
                </th>
            </tr>
            <tr>
                <th>
                    @Html.ActionLink("Objectives or Appraisal Status", "ObjAppStatusRpt")
                </th>
            </tr>
            <tr>
                <th>
                    @Html.ActionLink("Training Report", "TrainRpt")
                </th>
            </tr>
            <tr>
                <th>
                    @Html.ActionLink("Appraisal Report", "AppRpt")
                </th>
            </tr>
            <tr>
                <th>
                    @Html.ActionLink("Add/Open/Close Appraisal Year", "Index", "AppraisalStatus")
                </th>
            </tr>
        </table>
    }
    else
    {
        <p>
            You don't permission to open this page. Contact HR department.
        </p>
    }
}
else
{
    <p>
        You don't permission to open this page. Contact HR department.
    </p>
}
