﻿@model Employee_Appraisal.Models.Appraisal
    
@{
    ViewBag.Title = "ObjAppStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Objectives or Appraisals Status Reports</h2>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Objectives Status", "ObjStatus", "ObjAppStatusRpt")
        </th>
    </tr>
    <tr>
        <th>
            @Html.ActionLink("Appraisal Status", "AppStatus", "ObjAppStatusRpt")
        </th>
    </tr>
    <tr>
        <th>
            @Html.ActionLink("Total Appraisal Status", "AppTotalStatus", "ObjAppStatusRpt")
        </th>
    </tr>
</table>
@Html.ActionLink("Back To List", "Index", new { login = User.Identity.Name.Substring(6, (User.Identity.Name.Length - 6)) })