﻿@{
    ViewBag.Title = "ObjStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Objectives Status</h2>

@Html.ActionLink("Back To List", "Index", "AppraisalReports/ObjAppStatusRpt")
<br /><br />

<table class="table">
    <tr>
        <th width="10">
            Organization
        </th>
        <td>
            @Html.DropDownList("ORGANIZATION", ViewBag.ORGANIZATION as SelectList, "Select all")
        </td>
        <th width="10">
            Year
        </th>
        <td>
            @Html.DropDownList("YEAR", ViewBag.YEAR as SelectList)
        </td>
        <td>
            <input id="SubmitName" type="submit" value="Search" />
            <script type="text/javascript">
                $('#SubmitName').click(function () {
                    var ORG = $('#ORGANIZATION').val();
                    var YR = $('#YEAR').val();
                    var path = '@Url.Content("~/ObjAppStatusRpt/ObjStatus")' + "?ORG=" + ORG + "&YR=" + YR
                    window.open(path, '_self');
                });
            </script>

        </td>
    </tr>
</table>
<p>
    <a href="#" onclick="fnExcelReport()">Export To Excel</a>
<script type="text/javascript">
    function fnExcelReport() {
        var tab_text = "<table border='2px'><tr bgcolor='#87AFC6'>";
        var textRange; var j = 0;
        tab = document.getElementById('tbExport'); // id of table

        for (j = 0 ; j < tab.rows.length ; j++) {
            tab_text = tab_text + tab.rows[j].innerHTML + "</tr>";
            //tab_text=tab_text+"</tr>";
        }

        tab_text = tab_text + "</table>";
        tab_text = tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
        tab_text = tab_text.replace(/<img[^>]*>/gi, ""); // remove if u want images in your table
        tab_text = tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

        var ua = window.navigator.userAgent;
        var msie = ua.indexOf("MSIE ");

        if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
        {
            txtArea1.document.open("txt/html", "replace");
            txtArea1.document.write(tab_text);
            txtArea1.document.close();
            txtArea1.focus();
            sa = txtArea1.document.execCommand("SaveAs", true, "Say Thanks to Sumit.xls");
        }
        else                 //other browser not tested on IE 11
            sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));

        return (sa);
    }
</script>
@*@Html.ActionLink("Export To Excel", "ExportObjToExcel", "ObjAppStatusRpt")*@
</p>
<table id="tbExport" class="table">
    <tr>
        <th style="font-size: x-small">
            MANAGER ID
        </th>
        <th style="font-size: x-small">
            MANAGER NAME
        </th>
        <th style="font-size: x-small">
            TOTAL NO OF STAFF
        </th>
        <th style="font-size: x-small">
            CREATED
        </th>
        <th style="font-size: x-small">
            NOT CREATED
        </th>
        <th style="font-size: x-small">
            COMPLETED
        </th>
        <th style="font-size: x-small">
            NOT COMPLETED
        </th>
        <th style="font-size: x-small">
            ACCEPTED
        </th>
        <th style="font-size: x-small">
            REJECTED
        </th>
        <th style="font-size: x-small">
            NOT VIEWED
        </th>
    </tr>

    @if (ViewData["ObjStat"] != null)
    {
        foreach (var item in (dynamic)ViewData["ObjStat"])
        {
            <tr>
                <td>
                    @item.managerId
                </td>
                <td>
                    @item.managerName
                </td>
                <td>
                    @item.StaffNo
                </td>
                <td>
                    @item.Created
                </td>
                <td>
                    @item.NotCreated
                </td>
                <td>
                    @item.Completed
                </td>
                <td>
                    @item.NotCompleted
                </td>
                <td>
                    @item.Accepted
                </td>
                <td>
                    @item.Rejected
                </td>
                <td>
                    @item.NotViewed
                </td>
            </tr>
        }
    }
</table>
