﻿@model Employee_Appraisal.Models.AppraisalDevelopmentPlan

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .ui-datepicker {
        width: 175px;
        background: #005596;
        border: 1px solid #005596;
        color: #FFF;
    }
</style>

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Employee Development Plan</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group" style="display: none;">
            @Html.LabelFor(model => model.AppraisalId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @ViewBag.AppraisalId
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2" style="font-weight: bold;">Development Needs Header:</div>
            <div class="col-md-10">
                @Html.DropDownList("DevelopmentNeedsCode", (SelectList)ViewBag.DevelopmentNeedsCode, null, new { @class = "form-control", @onchange = "GetNeeds()" })
                <div style="display: none;">
                    @Html.TextBoxFor(model => model.DevelopmentNeeds, new { @class = "form-control", @Value = ViewBag.SelVal })
                </div>
                @Html.ValidationMessageFor(model => model.DevelopmentNeeds)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2" style="font-weight: bold;">Development Needs:</div>
            <div class="col-md-10">
                @Html.DropDownList("DevelopmentNeedsTextCode", (SelectList)ViewBag.DevelopmentNeedsText, "Select a Requirement", new { @class = "form-control", @onchange = "GetNeedsTxt()" })<br />
                <div id="DevNeedsTxt" style="display: none;">
                    @Html.TextAreaFor(model => model.DevelopmentNeedsText, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(model => model.DevelopmentNeedsText)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2" style="font-weight: bold;">Target Date:</div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.TargetDate, new { @class = "date-picker" }) @*&nbsp;&nbsp; ex. mm/dd/yyyy*@
                @Html.ValidationMessageFor(model => model.TargetDate)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2" style="font-weight: bold;">Action Plan:</div>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ActionPlan, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ActionPlan)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back To Appraisal", "Details", "Employees", new { id = ViewBag.AppraisalId, question = "Dev" }, null)
</div>

@section Scripts {
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <!-- Code to wire up your DatePicker -->
    <script type="text/javascript">
        $(function () {
            // This will make every element with the class "date-picker" into a DatePicker element
            $('.date-picker').datepicker();
        })
    </script>

    <script>
        $(document).ready(function () {
            var e = document.getElementById("DevelopmentNeedsCode");
            e.value = '@ViewBag.NeedsCode';
            var questiontext = e.options[e.selectedIndex].text;
            var ex = document.getElementById("DevelopmentNeeds");
            ex.value = questiontext;
        });

        function GetNeeds() {
            var e = document.getElementById("DevelopmentNeedsCode");
            var questiontext = e.options[e.selectedIndex].text;
            var ex = document.getElementById("DevelopmentNeeds");
            ex.value = questiontext;
            var st = e.options[e.selectedIndex].value;
            var eselectedvalue = st.trim();
            window.location.replace('../AppraisalDevelopmentPlan/Create?AppraisalId=' + JSON.stringify(@ViewBag.AppraisalId) +
                    '&DevelopmentNeedsCode=' + questiontext + '&SelVal=' + eselectedvalue);
        }

        function GetNeedsTxt() {
            var e2 = document.getElementById("DevelopmentNeedsTextCode");
            var questiontext = e2.options[e2.selectedIndex].text;
            if (questiontext == 'Others') {
                $('#DevelopmentNeedsText').val('');
                document.getElementById("DevNeedsTxt").removeAttribute("style");
            }
            else {
                document.getElementById("DevNeedsTxt").style.display = "none";
                var e2 = document.getElementById("DevelopmentNeedsText");
                e2.value = questiontext;
            }
        }
    </script>
}
