﻿@model Employee_Appraisal.Models.AppraisalDevelopmentPlan

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AppraisalDevelopmentPlan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DevelopmentNeeds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DevelopmentNeeds)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DevelopmentNeedsText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DevelopmentNeedsText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TargetDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TargetDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActionPlan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionPlan)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", new { appraisalId = ViewBag.AppraisalId, name = ViewBag.name }, null)
        </div>
    }
</div>
