﻿@model Employee_Appraisal.Models.Appraisal

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Appraisal</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div style="font-family: Arial; font-size: medium; font-weight: bold; color: red;">
            @ViewBag.Error
        </div>

        <div class="form-group">
            <div class="control-label col-md-2" style="font-weight: bold;">Employee ID:</div>
            <div class="col-md-10">
                <div style="width: 100px;" class="form-control"> @ViewBag.EmplID</div>
                <div style="display: none;">@Html.TextBoxFor(model => model.EmplId, new { @class = "form-control", @Value = ViewBag.EmplID } )</div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <div style="display: none;">
                    @Html.TextBoxFor(model => model.AppraiserId, new { @class = "form-control", @Value = ViewBag.AppraisarId })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2" style="font-weight: bold;">Year:</div>
            <div class="col-md-10">
                @Html.DropDownList("Year", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2" style="font-weight: bold;">Job Family:</div>
            <div class="col-md-10">
                @Html.DropDownList("JobFamily", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.JobFamily, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2" style="font-weight: bold;">Apraisal Date:</div>
            <div class="col-md-10">
                <div style="width: 100px;" class="form-control">
                    @DateTime.Now.Date.ToString("dd/MM/yyyy")
                </div>
                <div style="display: none;">
                    @Html.TextBoxFor(model => model.AppraisalDate, new { @class = "form-control", @Value = DateTime.Now })
            </div>
            @Html.ValidationMessageFor(model => model.AppraisalDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div style="display: none;">
        <div class="form-group">
            <div class="control-label col-md-2" style="font-weight: bold;">Appraisal Remarks:</div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.AppraisalRemarks, new { @class = "form-control", @Value = "." })
                @Html.ValidationMessageFor(model => model.AppraisalRemarks, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2" style="font-weight: bold;">Appraisal Feedback:</div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.AppraisalFeedback, new { @class = "form-control", @Value = "." })
                @Html.ValidationMessageFor(model => model.AppraisalFeedback, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2" style="font-weight: bold;">.KPI Feedback:</div>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.KPIFeedback, new { @class = "form-control", @Value = "." })
                @Html.ValidationMessageFor(model => model.KPIFeedback, "", new { @class = "text-danger" })
            </div>

        </div>
    </div>
    <div class="form-group" style="display: none;">
        <div class="control-label col-md-2" style="font-weight: bold;">Employee Group:</div>
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.EmplGroupId, new { @class = "form-control", @Value = 0 })
            @Html.ValidationMessageFor(model => model.EmplGroupId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2" style="font-weight: bold;">Financial Goal:</div>
        <div class="col-md-10">
            @Html.DropDownList("FinancialGoal", new List<SelectListItem>{
                    new SelectListItem{ Text = "No", Value = "0"},
                    new SelectListItem{ Text = "Yes", Value = "1"}
                }, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FinancialGoal, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" style="display: none;">
        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Status", new List<SelectListItem>{
                    new SelectListItem{ Text = "Open", Value = "0"},
                    new SelectListItem{ Text = "Close", Value = "1"}
                }, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
    <div>
        @Html.ActionLink("Back to List", "Appraisals", "Employees", new { id = ViewBag.EmplID, name = ViewBag.name }, null)
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
