﻿@model IEnumerable<Employee_Appraisal.Models.Appraisal>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Appraisals</h2>

<table class="table">
    <tr>
        <th>
            Employee ID
        </th>
        <th>
            Appraisal Date
        </th>
        <th>
            Appraiser
        </th>
        <th>
            Employee Group
        </th>
        <th>
            Job Family
        </th>
        <th>
            Financial Goal
        </th>
        <th>
            Status
        </th>
        <th>
            Acceptance
        </th>
        <th>
            Year
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmplId)
            </td>
            <td>
                @String.Format("{0:dd/MM/yyyy}", item.AppraisalDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppraiserId)
            </td>
            @if (item.EmplGroupId == 0)
            {
                <td style="width:100px;">Admin</td> }
            else
            {
                <td style="width:100px;">Sales</td> }
            <td>
                @Html.DisplayFor(modelItem => item.AppraisalJobFamily.JobFamilyName)
            </td>
            @if (item.FinancialGoal == 0)
            {
                <td style="width:100px;">No</td> }
            else
            {
                <td style="width:100px;">Yes</td> }
            @if (item.Status == 0)
            {
                <td style="width:100px;">Open</td> }
            else
            {
                <td style="width:100px;">Closed</td> }
            @if (item.Stage == 7)
            {
                <td style="width:100px;">Rejected</td> }
            else if (item.Stage == 6)
            {
                <td style="width:100px;">Accepted</td> }
            else if (item.Stage == 5)
            {
                <td style="width:100px;">Not Viewed</td> }
            else if (item.Stage <= 4)
            {
                <td style="width:100px;">Not Ready</td> }
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.AppraisalId })
            </td>
        </tr>
    }

</table>
