﻿@model IEnumerable<Employee_Appraisal.Models.AppraisalDevelopmentPlan>

<style type="text/css" media="print">
    .noprint {
        display: none;
    }
</style>

<h2>Development Plan</h2>
<table class="table">
    <tr>
        <th>
            Development Needs
        </th>
        <th>
            Target Date
        </th>
        <th>
            Action Plan
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DevelopmentNeeds)
                <br />
                @Html.DisplayFor(modelItem => item.DevelopmentNeedsText)
            </td>
            <td>
                @String.Format("{0:dd/MM/yyyy}", item.TargetDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActionPlan)
            </td>
        </tr>
    }
</table>

