﻿@model IEnumerable<Employee_Appraisal.Models.AppraisalEmployee>

<style type="text/css" media="print">
    .noprint {
        display: none;
    }
</style>

<h2>Core Competencies</h2>
@if (Model.ToList().Count != 0)
{
    <br />
    <table class="table">
        <tr>
            <th></th>
            <th></th>
            <th>
                <div style="font-weight: bold; width: 120px;">Competency</div>
            </th>
            <th>
                <div style="font-weight: bold; width: 120px;">Weight</div>
            </th>
            <th>
                <div class="noprint">@Html.DisplayNameFor(model => model.Actual)</div>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score) %
            </th>
            <th><div class="noprint">Action</div></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => item.AppraisalId, new { id = "key" })
                </td>
                <td>
                    @Html.HiddenFor(modelItem => item.QuestionId, new { id = "key2" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionText)
                </td>
                <td>
                    <div id="COQuestionWght" class="COQuestionWeight">@Html.DisplayFor(modelItem => item.QuestionWeight)</div>
                </td>
                <td><div id="COQuestionAc" class="COActual noprint">@Html.DisplayFor(modelItem => item.Actual)</div></td>
                <td>
                    <div class="COScore">@Html.DisplayFor(modelItem => item.Score)</div>
                </td>
                @if (Model.FirstOrDefault().Appraisal.Stage < 1)
                {
                    <td><div class="noprint">@Html.ActionLink("Delete", "Delete", "AppraisalEmployee", new { appraisalId = item.AppraisalId, emplId = item.EmplId, questionId = item.QuestionId }, null)</div></td>}
            </tr>
        }
    </table>
    <table>
        <tr>
            <td style="font-family: Arial; font-size: medium; font-weight: bold;">
                Total Core Competencies Score:
                <input id="COTotalScore" type="text" value="0" readonly style="border:0; outline:none;" />
            </td>
        </tr>
    </table>
}

<br />
@if (Model.ToList().Count < 5)
{
    <p>
        <div class="noprint">
            @Html.ActionLink("Add Core Competencies Objective",
                             "Create",
                             "AppraisalEmployee",
                             new
                             {
                                 AppraisalId = ViewData["AppraisalId"],
                                 emplId = ViewData["EmplId"],
                                 question = "COText",
                                 jobFamily = ViewData["JobFamily"]
                             },
                             null)
        </div>
    </p>
}
<div style="display: none;">
    @Html.TextBox("STAG", Model.FirstOrDefault().Appraisal.Stage.ToString(), new { @class = "form-control", @readonly = "readonly" })
</div>
