﻿@model IEnumerable<Employee_Appraisal.Models.AppraisalEmployee>

<style type="text/css" media="print">
    .noprint {
        display: none;
    }
</style>

<script>
    var financialGoal = '@ViewData["FinancialGoal"]';
    var emplId = '@ViewData["EmplId"]';
</script>

<h2>Functional Competencies</h2>

@if (Model.ToList().Count != 0)
{
    <br />
    <table class="table">
        <tr>
            <th>
                <div style="font-weight: bold; width: 120px;">Competency</div>
            </th>
            <th>
                <div style="font-weight: bold; width: 120px;">Weight</div>
            </th>
            <th>
                <div class="noprint">@Html.DisplayNameFor(model => model.Actual)</div>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score) %
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionText)
                </td>
                <td>@Html.DisplayFor(modelItem => item.QuestionWeight)</td>
                <td><div class="noprint">@Html.DisplayFor(modelItem => item.Actual)</div></td>
                <td><div class="FNScore">@Html.DisplayFor(modelItem => item.Score)</div></td>
            </tr>
        }
    </table>
    <table>
        <tr>
            <td style="font-family: Arial; font-size: medium; font-weight: bold;">
                Total Functional Competencies Score:
                <input id="FNTotalScore" type="text" value="0" readonly style="border:0; outline:none;" />
            </td>
        </tr>
    </table>
}

<div style="display: none;">
    @Html.TextBox("STAG", Model.FirstOrDefault().Appraisal.Stage.ToString(), new { @class = "form-control", @readonly = "readonly" })
</div>