﻿@model IEnumerable<Employee_Appraisal.Models.AppraisalEmployee>

<style type="text/css" media="print">
    .noprint {
        display: none;
    }
</style>
<h2>Sales Target</h2>

@if (Model.ToList().Count != 0)
{
    <br />
    <table class="table">
        <tr>
            <th>
                <div style="font-weight: bold; width: 120px;">Objective</div>
            </th>
            <th>
                <div class="noprint">@Html.DisplayNameFor(model => model.Q1)</div>
            </th>
            <th>
                <div class="noprint">@Html.DisplayNameFor(model => model.Q2)</div>
            </th>
            <th>
                <div class="noprint">@Html.DisplayNameFor(model => model.Q3)</div>
            </th>
            <th>
                <div class="noprint">@Html.DisplayNameFor(model => model.Q4)</div>
            </th>
            <th>
                <div class="noprint">@Html.DisplayNameFor(model => model.Q1A)</div>
            </th>
            <th>
                <div class="noprint">@Html.DisplayNameFor(model => model.Q2A)</div>
            </th>
            <th>
                <div class="noprint">@Html.DisplayNameFor(model => model.Q3A)</div>
            </th>
            <th>
                <div class="noprint">@Html.DisplayNameFor(model => model.Q4A)</div>
            </th>
            <th>
                <div class="noprint">@Html.DisplayNameFor(model => model.Q1S) %</div>
            </th>
            <th>
                <div class="noprint">@Html.DisplayNameFor(model => model.Q2S) %</div>
            </th>
            <th>
                <div class="noprint">@Html.DisplayNameFor(model => model.Q3S) %</div>
            </th>
            <th>
                <div class="noprint">@Html.DisplayNameFor(model => model.Q4S) %</div>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score) %
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionText)
                </td>
                <td>
                    <div class="noprint">@Html.DisplayFor(modelItem => item.Q1)</div>
                </td>
                <td>
                    <div class="noprint">@Html.DisplayFor(modelItem => item.Q2)</div>
                </td>
                <td>
                    <div class="noprint">@Html.DisplayFor(modelItem => item.Q3)</div>
                </td>
                <td>
                    <div class="noprint">@Html.DisplayFor(modelItem => item.Q4)</div>
                </td>
                <td>
                    <div class="noprint">@Html.DisplayFor(modelItem => item.Q1A)</div>
                </td>
                <td>
                    <div class="noprint">@Html.DisplayFor(modelItem => item.Q2A)</div>
                </td>
                <td>
                    <div class="noprint">@Html.DisplayFor(modelItem => item.Q3A)</div>
                </td>
                <td>
                    <div class="noprint">@Html.DisplayFor(modelItem => item.Q4A)</div>
                </td>
                <td>
                    <div class="noprint">@Html.DisplayFor(modelItem => item.Q1S)</div>
                </td>
                <td>
                    <div class="noprint">@Html.DisplayFor(modelItem => item.Q2S)</div>
                </td>
                <td>
                    <div class="noprint">@Html.DisplayFor(modelItem => item.Q3S)</div>
                </td>
                <td>
                    <div class="noprint">@Html.DisplayFor(modelItem => item.Q4S)</div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionWeight)
                </td>
                <td>
                    <div class="SLScore">@Html.DisplayFor(modelItem => item.Score)</div>
                </td>
            </tr>
        }
    </table>
    <table>
        <tr>
            <td style="font-family: Arial; font-size: medium; font-weight: bold;">
                Total Sales Target Score:
                <input id="SLTotalScore" type="text" value="0" readonly style="border:0; outline:none;" />
            </td>
        </tr>
    </table>
}

<div style="display: none;">
    @Html.TextBox("STAG", Model.FirstOrDefault().Appraisal.Stage.ToString(), new { @class = "form-control", @readonly = "readonly" })
</div>