﻿@model IEnumerable<Employee_Appraisal.Models.AppraisalEmployee>

<style type="text/css" media="print">
    .noprint {
        display: none;
    }
</style>

<h2 id="Sl">Sales Target</h2>

@if (Model.ToList().Count != 0)
{
    <br />
    <table class="table">
        <tr>
            <th></th>
            <th></th>
            <th>
                <div style="font-weight: bold; width: 120px;">Objective</div>
            </th>
            <th>
                <div class="noprint">@Html.DisplayNameFor(model => model.Q1)</div>
            </th>
            <th>
                <div class="noprint">@Html.DisplayNameFor(model => model.Q2)</div>
            </th>
            <th>
                <div class="noprint">@Html.DisplayNameFor(model => model.Q3)</div>
            </th>
            <th>
                <div class="noprint">@Html.DisplayNameFor(model => model.Q4)</div>
            </th>
            <th>
                <div class="noprint">@Html.DisplayNameFor(model => model.Q1A)</div>
            </th>
            <th>
                <div class="noprint">@Html.DisplayNameFor(model => model.Q2A)</div>
            </th>
            <th>
                <div class="noprint">@Html.DisplayNameFor(model => model.Q3A)</div>
            </th>
            <th>
                <div class="noprint">@Html.DisplayNameFor(model => model.Q4A)</div>
            </th>
            <th>
                <div class="noprint">@Html.DisplayNameFor(model => model.Q1S) %</div>
            </th>
            <th>
                <div class="noprint">@Html.DisplayNameFor(model => model.Q2S) %</div>
            </th>
            <th>
                <div class="noprint">@Html.DisplayNameFor(model => model.Q3S) %</div>
            </th>
            <th>
                <div class="noprint">@Html.DisplayNameFor(model => model.Q4S) %</div>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score) %
            </th>
            <th><div class="noprint">Action</div></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => item.AppraisalId, new { id = "key" })
                </td>
                <td>
                    @Html.HiddenFor(modelItem => item.QuestionId, new { id = "key2" })
                </td>
                <td>
                    <div id="SLQuestionTxt" class="SLQuestionText">@Html.DisplayFor(modelItem => item.QuestionText)</div>
                </td>
                <td>
                    <div id="SLQuestionWght1" class="SLQuestionWeight1 noprint">@Html.DisplayFor(modelItem => item.Q1)</div>
                </td>
                <td>
                    <div id="SLQuestionWght2" class="SLQuestionWeight2 noprint">@Html.DisplayFor(modelItem => item.Q2)</div>
                </td>
                <td>
                    <div id="SLQuestionWght3" class="SLQuestionWeight3 noprint">@Html.DisplayFor(modelItem => item.Q3)</div>
                </td>
                <td>
                    <div id="SLQuestionWght4" class="SLQuestionWeight4 noprint">@Html.DisplayFor(modelItem => item.Q4)</div>
                </td>
                <td>
                    <div id="SLQuestionAc1" class="SLActual1 noprint">@Html.DisplayFor(modelItem => item.Q1A)</div>
                </td>
                <td>
                    <div id="SLQuestionAc2" class="SLActual2 noprint">@Html.DisplayFor(modelItem => item.Q2A)</div>
                </td>
                <td>
                    <div id="SLQuestionAc3" class="SLActual3 noprint">@Html.DisplayFor(modelItem => item.Q3A)</div>
                </td>
                <td>
                    <div id="SLQuestionAc4" class="SLActual4 noprint">@Html.DisplayFor(modelItem => item.Q4A)</div>
                </td>
                <td>
                    <div class="SLScore1 noprint">@Html.DisplayFor(modelItem => item.Q1S)</div>
                </td>
                <td>
                    <div class="SLScore2 noprint">@Html.DisplayFor(modelItem => item.Q2S)</div>
                </td>
                <td>
                    <div class="SLScore3 noprint">@Html.DisplayFor(modelItem => item.Q3S)</div>
                </td>
                <td>
                    <div class="SLScore4 noprint">@Html.DisplayFor(modelItem => item.Q4S)</div>
                </td>
                <td>
                    <div id="SLQuestionWght" class="SLQuestionWeight">@Html.DisplayFor(modelItem => item.QuestionWeight)</div>
                </td>
                <td>
                    <div id="SLQuestionSc" class="SLScore">@Html.DisplayFor(modelItem => item.Score)</div>
                </td>
                @if (Model.FirstOrDefault().Appraisal.Stage < 1)
                {
                    <td><div class="noprint">@Html.ActionLink("Delete", "Delete", "AppraisalEmployee", new { appraisalId = item.AppraisalId, emplId = item.EmplId, questionId = item.QuestionId }, null)</div></td>}
            </tr>
        }

    </table>
    <table>
        <tr>
            <td style="font-family: Arial; font-size: medium; font-weight: bold;">
                Total Sales Target Score:
                <input id="SLTotalScore" type="text" value="0" readonly style="border:0; outline:none;" />
            </td>
        </tr>
    </table>
}

<br />
@if (Model.ToList().Count < 5)
{
    <p>
        <div class="noprint">
            @Html.ActionLink("Add Sales Objective",
                             "Create",
                             "AppraisalEmployee",
                             new
                             {
                                 AppraisalId = ViewData["AppraisalId"],
                                 emplId = ViewData["EmplId"],
                                 question = "SLText",
                                 jobFamily = ViewData["JobFamily"]
                             },
                             null)
        </div>
    </p>
}

