﻿@model IEnumerable<Employee_Appraisal.Models.Appraisal>

@{
    ViewBag.Title = "Appraisals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Appraisals</h2>

@if (ViewData["ErrorMessage"] != null && ViewData["ErrorMessage"] != "")
{
    ViewBag.Title = "Error";
    <h1 class="text-danger">Error</h1>
    <p class="text-danger">@ViewData["ErrorMessage"]</p>
}
else
{
    <p>
        @Html.ActionLink("Create New", "Create", "Appraisals", new { id = ViewBag.EmplID }, null)
    </p>
    if (Model != null && Model.ToList().Count != 0)
    {
        <table class="table">
            <tr>
                <th>
                    <div style="font-weight: bold; width: 100px;">Employee ID:</div>
                </th>
                <td>
                    @Html.Raw(ViewBag.EmplID)
                </td>
                <th>
                    <div style="font-weight: bold; width: 120px;">Employee Name:</div>
                </th>
                <td colspan="7">
                    @Html.Raw(ViewData["EmplName"])
                </td>
            </tr>
            <tr style="height: 50px;"></tr>
            <tr>
                <th><div style="font-weight: bold;">Appraisal ID</div></th>

                <th>
                    <div style="font-weight: bold;">Appraisal Date</div>
                </th>
                <th>
                    <div style="font-weight: bold;">Employee Group</div>
                </th>
                <th>
                    <div style="font-weight: bold;">Job Family</div>
                </th>
                <th>
                    <div style="font-weight: bold;">Financial Goal</div>
                </th>
                <th>
                    <div style="font-weight: bold;">Status</div>
                </th>
                <th>
                    <div style="font-weight: bold;">Stage</div>
                </th>
                @*<th>
                    <div style="font-weight: bold;">Accept Appraisal</div>
                </th>*@
                <th>
                    <div style="font-weight: bold;">Year</div>
                </th>
                <th>Actions</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.AppraisalId)</td>
                    <td>
                        @String.Format("{0:dd/MM/yyyy}", item.AppraisalDate)
                    </td>
                    @if (item.EmplGroupId == 0)
                    {
                        <td style="width:100px;">Admin</td> }
                    else
                    {
                        <td style="width:100px;">Sales</td> }
                    <td>
                        @Html.DisplayFor(modelItem => item.AppraisalJobFamily.JobFamilyName)
                    </td>
                    @if (item.FinancialGoal == 0)
                    {
                        <td style="width:100px;">No</td> }
                    else
                    {
                        <td style="width:100px;">Yes</td> }
                    @if (item.Status == 0)
                    {
                        <td style="width:100px;">Open</td> }
                    else
                    {
                        <td style="width:100px;">Closed</td> }
                    @if (item.Stage == 0)
                    {
                        <td style="width:100px;">Appraisal Created</td> }
                    else if (item.Stage == 1)
                    {
                        <td style="width:100px;">Objectives Sent</td> }
                    else if (item.Stage == 2)
                    {
                        <td style="width:100px;">Objectives Accepted</td>
                    }
                    else if (item.Stage == 3)
                    {
                        <td style="width:100px;">Objectives Rejected</td>
                    }
                    else if (item.Stage == 4)
                    {
                        <td style="width:100px;">Appraisal Evaluated</td> }
                    else if (item.Stage == 5)
                    {
                        <td style="width:100px;">Appraisal Sent</td> }
                    else if (item.Stage == 6)
                    {
                        <td style="width:100px;">Appraisal Accepted</td>
                    }
                    else if (item.Stage == 7)
                    {
                        <td style="width:100px;">Appraisal Rejected</td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @if (item.Status == 0)
                        {
                            @Html.ActionLink("Edit", "Edit", "Appraisals", new { id = item.AppraisalId }, null)
                            @Html.Raw(" | ")
                            @Html.ActionLink("Details", "Details", "Employees", new { id = item.AppraisalId }, null)
                            @Html.Raw(" | ")
                            @*@Html.ActionLink("Development", "Index", "Development", new { appraisalId = item.AppraisalId, name = ViewData["EmplName"] }, null)
                                @Html.Raw(" | ")*@
                            @Html.ActionLink("Delete", "Delete", "Appraisals", new { id = item.AppraisalId }, null)
                        }
                        else
                        {
                            @Html.ActionLink("Details", "Details", "Appraisals", new { id = item.AppraisalId, Delts = "YES" }, new { target = "blank" })
                        }
                    </td>
                </tr>
            }
        </table>
    }
}
