﻿@model Employee_Appraisal.Models.Appraisal

<style type="text/css" media="print">
    .noprint {
        display: none;
    }
</style>

<script>
    function myPrint() {
        window.print();
    }

    function getParameterByName(name) {
        var match = RegExp('[?&]' + name + '=([^&]*)')
                        .exec(window.location.search);
        return match ?
            decodeURIComponent(match[1].replace(/\+/g, ' '))
            : null;
    }

</script>

@{
    @Html.AntiForgeryToken()
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="Topp" class="noprint"><h2>Details</h2></div>

<div>
    <div class="noprint"><h4>Appraisal</h4></div>
    <hr />
    <table border="0">
        <tr style="display: none;">
            <td colspan="16">@Html.EditorFor(model => model.Stage)</td>
            <td colspan="16">@Html.EditorFor(model => model.EmplId)
            <td colspan="16">@Html.EditorFor(model => model.AppraisalId)</td>
        </tr>
        <tr>
            <td style="font-weight:bold; width:100px;"><div style="font-weight: bold;">Employee ID:</div></td>
            <td style="font-weight:bold; width:20px;"></td>
            <td style="width:100px;">@Html.DisplayFor(model => model.EmplId)</td>
            <td style="font-weight:bold; width:20px;"></td>
            <td style="font-weight: bold; width: 150px;"> <div style="font-weight: bold;">Employee Name:</div></td>
            <td style="font-weight:bold; width:20px;"></td>
            <td style="width: 200px;">@Html.DisplayFor(model => model.Employee.Name)</td>
            <td style="font-weight:bold; width:20px;"></td>
            <td style="font-weight: bold; width: 100px;"> <div style="font-weight: bold;">Appraisal Date:</div></td>
            <td style="font-weight:bold; width:20px;"></td>
            <td style="width: 200px;">@String.Format("{0:dd/MM/yyyy}", Model.AppraisalDate)</td>
            <td style="font-weight:bold; width:20px;"></td>
            <td style="font-weight: bold; width: 100px;"><div style="font-weight: bold;">Year:</div></td>
            <td style="font-weight:bold; width:20px;"></td>
            <td style="width: 100px;">@Html.DisplayFor(model => model.Year)</td>
            <td style="font-weight:bold; width:20px;"></td>
        </tr>
        <tr>
            <td style="font-weight: bold; width: 100px;"><div style="font-weight: bold;">Appraiser Id:</div></td>
            <td style="font-weight:bold; width:20px;"></td>
            <td style="width:100px;">@Html.DisplayFor(model => model.AppraiserId)</td>
            <td style="font-weight:bold; width:20px;"></td>
            <td style="font-weight: bold; width: 100px;"><div style="font-weight: bold;">Employee Group:</div></td>
            <td style="font-weight:bold; width:20px;"></td>
            @if (Model.EmplGroupId == 0)
            {
                <td style="width:100px;">Admin</td> }
            else
            {
                <td style="width:100px;">Sales</td> }
            <td style="font-weight:bold; width:20px;"></td>
            <td style="font-weight: bold; width: 150px;"><div style="font-weight: bold;">Financial Goal:</div></td>
            <td style="font-weight:bold; width:20px;"></td>
            @if (Model.FinancialGoal == 0)
            {
                <td style="width:100px;">No</td> }
            else
            {
                <td style="width:100px;">Yes</td> }
            <td style="font-weight:bold; width:20px;"></td>
            <td style="font-weight: bold; width: 100px;"><div style="font-weight: bold;">Status:</div></td>
            <td style="font-weight:bold; width:20px;"></td>
            @if (Model.Status == 0)
            {
                <td style="width:100px;">Open</td> }
            else
            {
                <td style="width:100px;">Closed</td> }
        </tr>
        <tr>
            <td style="font-weight: bold; width: 100px;"><div style="font-weight: bold;">Job Family:</div></td>
            <td style="font-weight:bold; width:20px;"></td>
            <td style="width:100px;" colspan="13">@Html.DisplayFor(model => model.AppraisalJobFamily.JobFamilyName)</td>
        </tr>
        <tr style="display:none;">
            <td style="font-weight: bold; width: 100px;"><div style="font-weight: bold;">Manager's Feedback:</div></td>
            <td style="font-weight:bold; width:20px;"></td>
            <td style="width:100px;" colspan="13">@Html.DisplayFor(model => model.AppraisalFeedback)</td>
        </tr>
        <tr style="display:none;">
            <td style="font-weight: bold; width: 100px;"><div style="font-weight: bold;">KPI Feedback:</div></td>
            <td style="font-weight:bold; width:20px;"></td>
            <td colspan="13" style="width: 100px;">@Html.DisplayFor(model => model.KPIFeedback)</td>
        </tr>
        <tr style="display:none;">
            <td style="font-weight: bold; width: 100px;"><div style="font-weight: bold;">PA Remarks:</div></td>
            <td style="font-weight:bold; width:20px;"></td>
            <td colspan="13" style="width:100px;">@Html.DisplayFor(model => model.AppraisalRemarks)</td>
        </tr>
    </table>
</div>

<div class="noprint">
    <p>
        @Html.ActionLink("Edit", "Edit", "Appraisals", new { id = Model.AppraisalId }, null)  |
        @Html.ActionLink("Back to List", "Appraisals", "Employees", new { id = Model.EmplId, name = Model.Employee.Name }, null)
    </p>
</div>

<div>
    <table class="table">
        <tr>
            <td>
                @if (Model.FinancialGoal == 1)
                {
                    @Html.Partial("_SalesTargetEdit", Model.AppraisalEmployees.Where(d => d.AppraisalQuestion.QuestionGroup == "SLST").ToList(), new ViewDataDictionary { { "FinancialGoal", Model.FinancialGoal }, { "EmplId", Model.EmplId }, { "AppraisalId", Model.AppraisalId }, { "JobFamily", Model.JobFamily } })     @*AppraisalQuestionGroup.TypeId == 1*@
                }
            </td>
        </tr>
        <tr>
            <td>
                @Html.Partial("_OperationalObjectivesEdit", Model.AppraisalEmployees.Where(d => d.AppraisalQuestion.QuestionGroup == "RESP").ToList(), new ViewDataDictionary { { "FinancialGoal", Model.FinancialGoal }, { "EmplId", Model.EmplId }, { "AppraisalId", Model.AppraisalId }, { "JobFamily", Model.JobFamily } }) @*AppraisalQuestionGroup.TypeId == 2*@
            </td>
        </tr>
        <tr>
            <td>
                @Html.Partial("_CoreCompetenciesEdit", Model.AppraisalEmployees.Where(d => d.AppraisalQuestion.QuestionGroup == "COMP").ToList(), new ViewDataDictionary { { "FinancialGoal", Model.FinancialGoal }, { "EmplId", Model.EmplId }, { "AppraisalId", Model.AppraisalId }, { "JobFamily", Model.JobFamily } }) @*AppraisalQuestionGroup.TypeId == 3*@
            </td>
        </tr>
        <tr>
            <td>
                @Html.Partial("_FunctionalCompetenciesEdit", Model.AppraisalEmployees.Where(d => d.AppraisalQuestion.QuestionGroup == "COMA" || d.AppraisalQuestion.QuestionGroup == "COME" || d.AppraisalQuestion.QuestionGroup == "COML" || d.AppraisalQuestion.QuestionGroup == "COMS").ToList(), new ViewDataDictionary { { "FinancialGoal", Model.FinancialGoal }, { "EmplId", Model.EmplId }, { "AppraisalId", Model.AppraisalId }, { "JobFamily", Model.JobFamily }, { "AcceptObjectives", Model.Stage } }) @*AppraisalQuestionGroup.TypeId == 4*@
            </td>
        </tr>
        <tr>
            <td>
                @Html.Partial("_AppraisalDevelopmentPlanEdit", Model.AppraisalDevelopmentPlans.Where(app => app.AppraisalId == Model.AppraisalId).ToList())
            </td>
        </tr>
    </table>
</div>



<div>
    <table>
        <tr>
            <td style="font-family: Arial; font-size: medium; font-weight: bold;">
                Total Score:
                <input id="TotalScore" name="TotalScore" type="text" value="0" readonly style="border:0; outline:none; width: 400px;" />
            </td>
        </tr>
    </table>
</div>
<br />
<div>Employee's Objectives' Feedback:</div>
<div>
    @Html.TextAreaFor(model => model.KPIFeedback, new { @class = "form-control", @readOnly = "readonly" })
</div>
<br />
<div>Manager's Remarks:</div>
<div>
    @if (Model.Stage == 4)
    { @Html.TextAreaFor(model => model.AppraisalRemarks, new { @class = "form-control" })}
    else
    { @Html.TextAreaFor(model => model.AppraisalRemarks, new { @class = "form-control", @readOnly = "readonly" }) }
</div>
<br />
<div>Employee's Appraisal's Feedback:</div>
<div>
    @Html.TextAreaFor(model => model.AppraisalFeedback, new { @class = "form-control", @readOnly = "readonly" })
</div>
<br />
@if (Model.Stage == 4)
{
    <div class="noprint">
        <input type="button" value="Save Comment" onclick="return getTextBoxContent('SaveComment')" />
        <br /><br />
    </div>
}
<div class="noprint">
    <table>
        <tr>
            @if (Model.Stage == 0 || Model.Stage == 3)
            {
                <td id="Obj">
                    <input type="button" value="Send Objectives" onclick="return getTextBoxContent('SendObjectivesAcceptance')" />
                </td>
            }
            else if (Model.Stage == 4)
            {
                <td id="App">
                    <input type="button" value="Send Appraisal" onclick="return getTextBoxContent('SendAppraisalAcceptance')" />
                </td>
            }
        </tr>
    </table>
</div>
<div class="noprint">
    <table>
        <tr>
            <td>
                <input type="button" value="Print" onclick="myPrint()" />
            </td>
        </tr>
        <tr>
            <td>
                @if (Model.Stage == 0)
                {
                    <div style="font-family: Arial; font-size: medium; color: red;">
                        Appraisal Created.
                    </div> }
                else if (Model.Stage == 1)
                {
                    <div style="font-family: Arial; font-size: medium; color: red;">
                        Objectives Sent.
                    </div> }
                else if (Model.Stage == 2)
                {
                    <div style="font-family: Arial; font-size: medium; color: red;">
                        Objectives Accepted.
                    </div>
                }
                else if (Model.Stage == 3)
                {
                    <div style="font-family: Arial; font-size: medium; color: red;">
                        Objectives Rejected.
                    </div>
                }
                else if (Model.Stage == 4)
                {
                    <div style="font-family: Arial; font-size: medium; color: red;">
                        Appraisal Evaluated.
                    </div> }
                else if (Model.Stage == 5)
                {
                    <div style="font-family: Arial; font-size: medium; color: red;">
                        Appraisal Sent.
                    </div> }
                else if (Model.Stage == 6)
                {
                    <div style="font-family: Arial; font-size: medium; color: red;">
                        Appraisal Accepted.
                    </div>
                }
                else if (Model.Stage == 7)
                {
                    <div style="font-family: Arial; font-size: medium; color: red;">
                        Appraisal Rejected.
                    </div>
                }
            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Back to List", "Appraisals", new { id = Model.EmplId, name = Model.Employee.Name })
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    function getTextBoxContent(func) {
        var feedback = document.getElementById('AppraisalRemarks').value;
        var appraisalId = document.getElementById('AppraisalId').value;
        var emplId = document.getElementById('EmplId').value;

        window.location.replace('../../Employees/' + func + '?appraisalId=' + appraisalId + '&emplId=' + emplId + '&appraisalRemarks=' + feedback)

        //$.ajax({
        //    type: "POST",
        //    url: "../../Employees/" + func,
        //    data: "{emplId:'" + emplId + "',appraisalId: " + appraisalId + ",appraisalRemarks:'" + feedback + "'}",
        //    contentType: "application/json; charset=utf-8",
        //    dataType: "json",
        //    success: function () {
        //        location.href = location.href;
        //        window.location.reload();
        //    }
        //});
    }
</script>