﻿@model IEnumerable<Employee_Appraisal.AIFEmployee.AxdEntity_EmplTable_1>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My Employees</h2>
@if (Model != null)
{
    <table class="table">
        <tr>
            <th>EMPLOYEE ID</th>
            <th>NAME</th>
            <th>
                JOIN DATE
            </th>
            <th>
                POSITION
            </th>
            @*<th>
                    FINANCIAL GOAL
                </th>*@
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            if (item != null)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.EmplId)</td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>
                        @String.Format("{0:dd/MM/yyyy}", item.JoinDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TitleNameEN)
                    </td>
                    @*@if (item.FinancialGoal == 0)
                        {
                            <td style="width:100px;">No</td> }
                        else
                        {
                            <td style="width:100px;">Yes</td> }*@
                    <td>
                        @Html.ActionLink("Details", "Appraisals", new { id = item.EmplId, name = item.Name})
                    </td>
                </tr>
            }
        }
    </table>
}
else
{
    <p>
        You don't have employees reporting to you.
    </p>
}
